{% extends 'base.html.twig' %}

   {% block body %}
       <a href="{{ path('category_show', {'name': "javascript"}) }}">
           Testing showByCategory() method from BlogController to view all articles.
       </a>
       <h1>Bienvenue sur mon blog !</h1>
   {% endblock %}
