{% extends "base.html.twig" %}
{% block body %}
    {% for article in articles %}
        {{ article.id }}
<div>
    <h1>{{ category.name  }}</h1>
    <h2>Articles title : {{ article.title }}</h2>
    <p>{{ article.content }}</p>
</div>
    {% endfor %}
{% endblock %}