<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1>Page number {{ page }}.</h1>
<a href="{{ path('blog_list', {'page':5}) }}">Afficher la page 5</a>

</body>
</html>